<body>
<div class="container">
  <div style="height: 30px;"></div>

  <!-- Conteneur du titre -->
  <div class="title-container">
    <h1>Liste des produits</h1>
  </div>

  <!-- Champ de recherche -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchStr" (keyup)="searchEvents()" placeholder="Rechercher un produit..."/>
  </div>

  <!-- Liste des événements -->
  <div class="event-list">
    <div class="event-card" [ngClass]="{'dark': index % 2 === 1}" *ngFor="let event of events; let index = index">
      <h3>{{ event.event_name }}</h3>
      <p>{{ event.description }}</p>

      <!-- Bouton de détails -->
      <button class="btn-edit" (click)="showDetails(event.id)">Détails</button>
      <span style="width: 10px; display: inline-block;"></span>

    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <button class="btn-previous" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
    <span class="page-indicator">Page {{ currentPage }}</span>
    <button class="btn-next" (click)="nextPage()" [disabled]="!hasMorePages">Suivant</button>
  </div>
</div>
</body>

