<!-- event-list-open.component.html -->
<div class="container">
  <div style="height: 30px;"></div>
  <div class="event-list">
    <div class="event-card" *ngFor="let event of events">
      <h3>{{ event.event_name }}</h3>
      <p>{{ event.description }}</p>
      <button class="btn-edit" (click)="showDetails(event.id)">Détails</button>
      <button *ngIf="!event.isLoading" class="btn-register" [disabled]="event.isFull" (click)="register(event.id)">
        {{ event.isFull ? 'Complet' : "S'inscrire" }}
      </button>
    </div>
  </div>
  <div class="pagination">
    <button class="btn-previous" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }}</span>
    <button class="btn-next" (click)="nextPage()" [disabled]="!hasMorePages">Suivant</button>
  </div>
</div>

