<div id="header-wrapper">
  <!-- En-tête du site -->
  <header id="header">
    <div class="header-container">
      <!-- Logo du site -->
      <h1 id="logo"><a href=''>SavEat</a></h1>
      <!-- Navigation principale -->
      <nav id="nav">
        <ul>
          <li><a routerLink="/events">Trouver produit</a></li>
          <li><a routerLink='/notre-mission'>Notre mission</a></li>
          <li><a routerLink='/contact'>Contact</a></li>
          <li><a routerLink='/login' class="button primary">CONNEXION</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
