
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notre mission</title>
</head>
<body>
<div class="title-container">
  <h1>Notre mission</h1>
</div>

<div class="container">
  <div class="content">
    <div class="left-section">
      <div class="mission-section">
        <h2>Organiser des événements</h2>
        <p>Nous trouvons les meilleurs événements pour vous.</p>
      </div>
      <div class="mission-section">
        <h2>Inscription facile</h2>
        <p>Notre plateforme facilite l'inscription à des événements.</p>
      </div>
    </div>
    <div class="carousel-wrapper">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-item active">
            <img src="assets/app4.png" alt="Imagine 1">
          </div>
          <div class="carousel-item">
            <img src="assets/app1.jpg" alt="Imagine 2">
          </div>
          <div class="carousel-item">
            <img src="assets/app3.jpg" alt="Imagine 2">
          </div>
          <div class="carousel-item">
            <img src="assets/ev1.jpg" alt="Imagine 3">
          </div>
        </div>
        <div class="discover-events-btn-container">
          <button routerLink='/events' class="discover-events-btn">Découvrez nos événements !</button>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="mission-section">
        <h2>Communauté</h2>
        <p>Nous construisons une communauté autour des événements.</p>
      </div>
      <div class="mission-section">
        <h2>Soutien</h2>
        <p>Nous offrons un soutien complet pour les événements.</p>
      </div>
    </div>
  </div>
</div>

<style>
  @import url('./notre-mission.component.css');
</style>
