<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notre Mission</title>
  <link rel="stylesheet" href="notre-mission.component.css">
</head>
<body>
<div class="page">
  <header>
    <h1>Notre mission</h1>
  </header>
  <section>
    <p>
      Que vous soyez passionné par l'art, la musique, le sport, la technologie, la science ou tout autre domaine, Event MIAGE est conçu pour répondre à tous les goûts et intérêts. Nous mettons tout en œuvre pour vous offrir une myriade d'événements uniques et inoubliables.
      Explorez notre site et vous trouverez une variété d'événements excitants tels que des concerts, des festivals, des expositions d'art, des conférences, des compétitions sportives, des ateliers de formation, des séminaires et bien plus encore. Peu importe ce qui vous intéresse, nous avons quelque chose de spécial qui vous attend.
      Nous sommes ravis de vous accueillir sur Event MIAGE et nous espérons que vous trouverez des moments inoubliables grâce à notre plateforme. N'hésitez pas à explorer, à interagir et à profiter de tout ce que nous avons à offrir. Que votre prochaine aventure commence ici !
    </p>
  </section>
  <section class="mission">
    <article class="mission-section">
      <h2>Organiser des événements</h2>
      <p>Nous trouvons les meilleurs événements pour vous.</p>
    </article>
    <article class="mission-section">
      <h2>Inscription facile</h2>
      <p>Notre plateforme facilite l'inscription à des événements.</p>
    </article>
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-item active">
          <img src="assets/event1.jpg" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="assets/event2.jpg" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="assets/event3.jpg" alt="Image 3">
        </div>
        <div class="carousel-item">
          <img src="assets/event4.jpg" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="assets/event5.jpg" alt="Image 5">
        </div>
      </div>
    </div>
    <article class="mission-section">
      <h2>Communauté</h2>
      <p>Nous construisons une communauté autour des événements.</p>
    </article>
    <article class="mission-section">
      <h2>Soutien</h2>
      <p>Nous offrons un soutien complet pour les événements.</p>
    </article>
  </section>
  <div class="button-container">
    <button class="discover-events-btn" routerLink="/events">Découvrez nos événements !</button>
  </div>
</div>
</body>
</html>
