<!-- Conteneur principal  -->
<body>
<div class="page">
  <!-- En-tête -->
  <header>
    <!-- Titre principal -->
    <h1>Notre mission</h1>
    <!-- Section principale -->
  </header>
  <section>
    <!-- Paragraphe de description -->
    <p>
      Chez SaveEat, notre mission est de lutter contre le gaspillage alimentaire tout en offrant un accès abordable à des produits de qualité. Que vous soyez étudiant, en difficulté financière ou simplement soucieux de réduire votre empreinte environnementale, SaveEat est là pour vous. Explorez notre plateforme et découvrez notre vaste sélection de produits alimentaires proches de leur date limite de consommation, disponibles à des prix avantageux. En choisissant SaveEat, vous contribuez à une cause sociale tout en faisant des économies et en agissant pour la planète.
    </p>
  </section>
  <section class="mission">
    <article class="mission-section">
      <h2>Réduire le gaspillage alimentaire</h2>
      <p>Nous récupérons les produits alimentaires proches de leur date limite de consommation pour leur donner une seconde vie.</p>
    </article>
    <article class="mission-section">
      <h2>Accessibilité</h2>
      <p>Nous offrons un accès abordable à des produits de qualité pour tous, indépendamment de votre situation financière.</p>
    </article>
    <!-- Conteneur du carrousel avec classe .carousel-container -->
    <div class="carousel-container">
      <!-- Carrousel -->
      <div class="carousel">
        <div class="carousel-item active">
          <img src="assets/event1.jpg" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="assets/event2.jpg" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="assets/event3.jpg" alt="Image 3">
        </div>
        <div class="carousel-item">
          <img src="assets/event4.jpg" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="assets/event5.jpg" alt="Image 5">
        </div>
      </div>
    </div>
    <article class="mission-section">
      <!-- Titre de la section -->
      <h2>Impact social</h2>
      <!-- Paragraphe de description -->
      <p>Nous collaborons avec des associations et des organisations pour soutenir les populations vulnérables et créer un impact positif dans la communauté.</p>
    </article>
    <article class="mission-section">
      <h2>Éducation et sensibilisation</h2>
      <p>Nous organisons des campagnes de sensibilisation pour informer le public sur l'importance de réduire le gaspillage alimentaire et encourager des pratiques alimentaires durables.</p>
    </article>
  </section>
  <!-- Conteneur des boutons -->
  <div class="button-container">
    <!-- Bouton "Découvrez nos produits !" -->
    <button class="discover-events-btn" routerLink="/events">Découvrez nos produits !</button>
  </div>
</div>
</body>
