<!-- Section du conteneur du titre -->
<div class="title-container">
  <h1>Détails du produit</h1>
</div>

<!-- Section du conteneur principal -->
<div class="container" *ngIf="product">
  <div class="event-details">
    <div class="event-card">
      <h2>{{ product.name }}</h2> <!-- Assuming 'name' is the correct field -->
      <p class="event-acronym">Catégorie : {{ product.CATEGORY_NAME }}</p> <!-- Adjusted for direct property access -->
      <p class="event-max-participants">Description : {{ product.DESCRIPTION }}</p> <!-- Assuming 'quantity' is a direct field -->
      <p class="event-description">Quantité restante : {{ product.QUANTITY }}</p> <!-- Assuming 'sellingPrice' is the correct field -->
    </div>
  </div>
</div>
