<!-- Section du conteneur du titre -->
<div class="title-container">
  <h1>Détails du produit</h1>
</div>

<!-- Section du conteneur principal -->
<div class="container">
  <div class="event-details">
    <!-- Boucle pour chaque événement dans la liste des événements -->
    <div class="event-card" *ngFor="let stock of stock">
      <h2>{{ stock.ProductName }}</h2>
      <p class="event-acronym">Catégorie : {{ stock.Category }}</p>
      <p class="event-max-participants"> Quantité restante : {{ stock.Quantity }} {{stock.Unit}}</p>
      <p class="event-description">Prix : {{ stock.SellingPrice }} € / {{stock.Unit}}</p>
    </div>
  </div>
</div>
