/* Styles pour le conteneur des statistiques */
.stats-container {
  background-color: #a0e6f1; /* Couleur turquoise claire */
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 5vh;
}

/* Styles pour le titre des statistiques */
.stats-container h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
