<div class="container">
  <div class="form-background"></div>
  <h1 class="title">Ajouter un produit</h1>
  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <div>
      <input type="text" id="acronym" name="acronym" ngModel required placeholder="Type" />
    </div>
    <div>
      <input type="text" id="eventName" name="eventName" ngModel required placeholder="Origine" />
    </div>
    <div>
      <input type="text" id="location" name="location" ngModel required placeholder="Prix" />
    </div>
    <div>
      <textarea id="description" name="description" ngModel placeholder="Description"></textarea>
    </div>
    <div>
      <label for="registrationStartDate">Date de péremption</label>
      <input type="date" id="registrationStartDate" name="registrationStartDate" ngModel [class.date-filled]="createForm.value.registrationStartDate" required />
    </div>


    <div>
      <input type="number" id="maxParticipants" name="maxParticipants" ngModel required placeholder="Quantité disponible" min="0" />
    </div>
    <button type="submit" [disabled]="!createForm.valid">Ajouter un produit</button>
  </form>
</div>
