body {
  background-color: #f5f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100%;
  background-color: #f5f3f3;
  padding: 2rem;
  position: relative;
}

input[type="date"] {
  height: 3.5rem;
  width: 100%;
  color: black;
}

input[type="date"].date-filled {
  color: black;
}

.title {
  color: gray;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

input:focus, textarea:focus {
  color: black;
  background-color: inherit;
}

input:not(:focus),
textarea:not(:focus) {
  color: #5d5d5d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem;
  border: 1px solid #dcd9d9;
  z-index: 1;
}

input, textarea, input[type="date"] {
  border: 1px solid #e3e3e3;
  padding: 0.5rem;
  font-size: 1rem;
  width: 180%;
  box-sizing: border-box;
  background-color: white;
  height: 3.5rem;
  border-radius: 0;
  color: #e0dede;
  margin-left: -38%;
}

textarea {
  height: 8rem;
}

input::placeholder, textarea::placeholder {
  color: #b9b7b7;
  opacity: 1;
}

button[type="submit"] {
  background-color: #1acead;
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #f5f2f2;
  cursor: pointer;
  transition: transform 0.3s;
  height: 4rem;
  margin: 0 auto;
  width: 16rem;
  border-radius: 4px;
}

button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #2fee81;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f3f3;
  z-index: -1;
}

.form-background {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: calc(100% + 3rem);
  height: calc(100% + 3rem);
  background-color: #f5f3f3;
  z-index: -1;
}

button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[type="submit"][disabled]:hover {
  transform: none;
  background-color: #1acead;
}
