<div class="container">
  <div class="form-background"></div>
  <h1 class="title">Mettre à jour les informations</h1>
  <form *ngIf="isDataLoaded" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div>
      <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="participant.first_name" required placeholder="Prénom" />
    </div>
    <div>
      <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="participant.last_name" required placeholder="Nom" />
    </div>
    <div>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="participant.email" required placeholder="E-mail" />
    </div>
    <div>
      <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="participant.phone_number" required placeholder="Numéro de téléphone" />
    </div>
    <button type="submit" [disabled]="!form.valid || form.pristine">Mettre à jour</button>
  </form>
</div>
