.btn-register {
  font-weight: 500;
  padding: 20px 35px; /* Valori mai mari pentru a face butonul mai mare */
  border: none;
  border-radius: 0; /* Fără margini rotunjite */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem; /* Font-size mai mare */
  transition-duration: 0.4s;
  margin-top: 10px;
  background-color: #1acead;
  color: #fff;
  margin-bottom:60px;
}

button:hover {
  transform: scale(1.1);
  background-color: #2fee81;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}


.btn-register.full {
  background-color: #f88f8f;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  color: #fff;
  cursor: not-allowed;
}
