.btn-register {
  font-weight: 500;
  padding: 15px 30px; /* Valori mai mari pentru a face butonul mai mare */
  border: none;
  border-radius: 0; /* Fără margini rotunjite */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem; /* Font-size mai mare */
  transition-duration: 0.4s;
  margin-top: 10px;
  background-color: #1acead;
  color: #fff;
  margin-bottom:60px;
}
.btn-register:hover {
  transform: scale(1.1);
  background-color: #5af197;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}
