<body>
<div class="container">

  <!-- Le titre de la page pour la connexion des administrateurs -->
  <h1 class="title">Connexion administrateur</h1>

  <!-- Un message d'erreur affiché uniquement si la variable "errorMessage" est définie -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Le formulaire de connexion -->
  <form>
    <input type="text" name="username" [(ngModel)]="username" id="username" placeholder="Nom d'utilisateur" required>
    <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Mot de passe" required>
    <button type="submit" id="connexion" (click)="onSubmit()">Connexion</button>
  </form>
</div>
</body>
