body {
  background-color: #eeebeb;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #eeebeb;
  padding: 2rem;
}

.title {
  color: gray;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
  height: 28em;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border: 1px solid #dcd9d9;
}

input {
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  background-color: white;
  height: 4rem;
}

input::placeholder {
  color: #989898;
  opacity: 0.5;
}

#inscription {
  background-color: #1acead;
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #f5f2f2;
  cursor: pointer;
  transition: transform 0.3s;
  height: 4rem;
  margin: 0 auto;
  width: 10rem;
}

#inscription:hover {
  transform: scale(1.1);
  background-color: #2fee81;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
