<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,400i,700&display=swap">

<div class="container">
  <div style="height: 30px;"></div>
  <div class="center-horizontal">
    <app-export-csv-button [eventId]="eventId"></app-export-csv-button>
  </div>
  <div class="event-list">
    <div class="event-card" [ngClass]="{'dark': index % 2 === 1}" *ngFor="let participant of participants; let index = index">
      <h3>{{ participant.first_name }} {{ participant.last_name }}</h3>
      <p>{{ participant.email }}</p>
      <button class="btn-edit" (click)="updateParticipant(eventId ?? 0, participant.id)">Modifier</button>
      <span style="width: 10px; display: inline-block;"></span>
      <button class="btn-delete" (click)="deleteParticipant(participant.id)">Supprimer</button>
    </div>
  </div>
</div>
