@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  padding-bottom: 5vh;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

strong {
  font-weight: 700;
}

.special.container {
  background-color: #30cfc0;
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  animation: background-color-change 5s infinite;
}

.special-alt {
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
}

.style1.container.special {
  background-color: #30cfc0;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.cta-container {
  background-color: #333;
  color: white;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.button {
  background-color: #30cfc0;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: #1abc9c;
  border: 2px solid #1abc9c;
}


.section-highlight {
  transition: background-color 0.3s ease-in-out;
}

.section-highlight:hover {
  background-color: #086553;
}

.section-highlight2 {
  background-color: #22bd9d;
  transition: background-color 0.3s ease-in-out;

}

.section-highlight2:hover {
  background-color: #26de82;
}

.section-highlight3 {
  transition: background-color 0.3s ease-in-out;

}

.section-highlight3:hover {
  background-color: #02fce0;
}

.text-section {
  text-align: center;
  padding: 40px;
}

.text-section h2 {
  margin-bottom: 20px;
}

.text-section p {
  margin-bottom: 40px;

}

ul {
  list-style-type: none;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttons li {
  margin: 0 10px;
}

.buttons a {
  display: inline-block;
  text-decoration: none;
  padding: 25px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5vh;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2vh;
  margin-right: 2vh;
}

.buttons a:hover {
  opacity: 0.8;
}

.image-right {
  max-width: 100%;
}



.wrapper.style2.container.special-alt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

@keyframes background-color-change {
  0% { background-color: #57f3e4; }
  25% { background-color: #39ada2; }
  50% { background-color: #1bf1dc; } /* Turcoaz închis */
  75% { background-color: #03ffc3; } /* Turcoaz deschis */
  100% { background-color: #0bb076; }

}

@media (max-width: 767px) {
  .wrapper.style2.container.special-alt {
    flex-direction: column-reverse;
  }
}

@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
    gap: 20px;
  }

  .buttons li {
    margin: 0;
  }
}
