<body class="index is-preload">
<div id="page-wrapper" style="padding-top: 3cm;">
  <article id="main">
    <header class="special container">
      <span class="icon solid fa-chart-bar"></span>
      <h2>Bienvenue sur <strong>EVENT MIAGE</strong>, votre plateforme ultime pour découvrir et vivre des moments inoubliables grâce à une myriade d'événements et d'expériences enrichissantes
        <br /></h2>
      <p>Plongez dans <strong>l'univers fascinant</strong> de notre site et explorez les innombrables possibilités qui s'offrent à vous.
        <br />
        Laissez-nous vous guider à travers les différentes facettes de notre plateforme et découvrez un monde d'événements captivants, adaptés à tous les goûts et intérêts.
        <br /></p>
    </header>
    <!-- One -->
    <section class="wrapper style2 container special-alt">
      <div class="row gtr-50">
        <div class="col-8 col-12-narrower">

          <header>
            <h2>Explorez notre <strong>vaste catalogue</strong> d'événements </h2>
          </header>
          <p>Notre sélection d'événements est riche et constamment mise à jour. Que vous soyez passionné de concerts, de festivals, d'expositions d'art, d'ateliers, de conférences, de compétitions sportives, de soirées à thème ou autres, nous avons tout pour satisfaire votre curiosité. Utilisez nos filtres de recherche avancés pour trouver les événements qui correspondent à vos préférences, votre localisation et votre budget.</p>
          <footer>
            <ul class="buttons">
              <li><a routerLink='/events' class="button">Découvrir les événements</a></li>
            </ul>
          </footer>

        </div>
        <div class="col-4 col-12-narrower">
          <img src="assets/ev2.png" alt="Description de l'image" class="image-right" />
        </div>
      </div>
    </section>

    <!-- Two -->
    <section class="wrapper style1 container special">
      <div class="row">
        <div class="col-4 col-12-narrower section-highlight">

          <section>
            <header>
              <h3>Rencontrez de nouvelles personnes</h3>
            </header>
            <p>Profitez de nos événements pour rencontrer des personnes partageant les mêmes centres d'intérêt que vous et créez des liens durables. Que vous cherchiez à élargir votre réseau professionnel ou à vous faire de nouveaux amis, nos événements sont conçus pour favoriser les interactions et les échanges.</p>
          </section>

        </div>
        <div class="col-4 col-12-narrower section-highlight2">

          <section>
            <header>
              <h3>Découvrez des événements liés à vos passions</h3>
            </header>
            <p>Qu'il s'agisse de musique, d'art, de sport, de gastronomie, de technologie ou de tout autre domaine, nous avons
              l'événement qu'il vous faut pour nourrir votre passion. Inscrivez-vous et personnalisez votre expérience pour recevoir des recommandations spécialement adaptées à vos goûts.</p>
          </section>
        </div>
        <div class="col-4 col-12-narrower section-highlight3">
          <section>
            <header>
              <h3>Enrichissez vos connaissances dans un domaine </h3>
            </header>
            <p> Approfondissez vos connaissances et développez vos compétences en participant à des événements éducatifs et informatifs.  Que vous souhaitiez approfondir vos connaissances dans un domaine spécifique ou simplement élargir votre horizon, nos événements sont là pour vous inspirer et vous motiver.</p>
          </section>

        </div>
      </div>
    </section>
  </article>
  <!-- CTA -->
  <section id="cta">
    <section class="container cta-container">
      <div class="text-section">
        <header>
          <h2>T'es partant pour <strong>participer </strong>?</h2>
          <p>Trouve ton événement favori et inscris-toi !</p>
        </header>
        <footer>
          <ul class="buttons">
            <li><a routerLink='/events' class="button primary">S'inscrire</a></li>
            <li><a href='/notre-mission' class="button">EN SAVOIR PLUS</a></li>
          </ul>
        </footer>
      </div>
    </section>
  </section>
</div>
</body>

