/* Styles généraux */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

/* Conteneur principal */
.container {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Boutons de pagination */
.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.page-indicator {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.pagination-buttons button {
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  background-color: #1acead;
  color: #fff;
}

.pagination-buttons button:hover {
  opacity: 0.6;
}

.pagination-buttons button[disabled] {
  background-color: #c5c5c5;
  cursor: not-allowed;
}

/* Liste des événements */
.event-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Alignement horizontal centré */
.center-horizontal {
  display: flex;
  justify-content: center;
}

/* Bouton de création d'évènement */
.btn-create {
  background-color: #1acead;
  color: #fff;
  font-weight: 500;
  padding: 17px 24px;
  margin: 30px 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
}

.btn-create:hover {
  opacity: 0.6;
}

/* Champ de recherche */
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition-duration: 0.4s;
  width: 40%;
}

.search-container input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Carte d'événement */
.event-card {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.event-card.dark {
  background-color: #8f8e8e;
  color: #fff;
}

.event-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/* Boutons d'édition et de suppression */
.btn-edit,
.btn-delete {
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  margin-right: 5px;
}

.btn-edit {
  background-color: #72b3e8;
  color: #fff;
}

.btn-delete {
  background-color: #f88888;
  color: #fff;
}

.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.6;
}

